<div class="cl">&nbsp;</div>
<h5>Working with me:</h5>

<div class="container">
	<div class="container">
		<div class="row-fluid">
			<% if @profile %>
				<p>1. <%= @profile.step_1 %></p>
				<p>2. <%= @profile.step_2 %></p>
				<p>3. <%= @profile.step_3 %></p>
				<p>4. <%= @profile.step_4 %></p>
				<p>5. <%= @profile.step_5 %></p>
			<% end %>
		</div>
	</div>
</div>